/* CSS Resest: YUI 3.17.2 http://yuilibrary.com/license/ */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* My Reset */
a {
    text-decoration: none;
}

/* fonts * /

@font-face {
      font-family: 'Handlee';
      src: url("./Handlee-Regular.ttf");
      
  }
*/
html {
    font-family: "georgia,'times new roman',times,serif"
}

.main-title, 
.entry-title, 
.entry-content p, 
.entry-content li, 
.entry-summary p,
.single h2,
figcaption
{
    font-family: Handlee;
} 
body {
    line-height: 1.5;
}

/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}





#page {
    margin: 0 auto;
    max-width: 786px;
}

.site-footer {
    display: block;
    vertical-align: middle;
    margin: 3rem 0 2rem;
}


.site-author {
    float: right;
}

.site-title, .site-description{
    text-align: center;
    font-family: times;
}

.site-title {
    font-weight: bold;
}

.site-title {
    color: black;
    font-size: 4rem;
    font-family: times;
}

.site-description {
    font-size: 1.5rem;
}



.main-title {
    font-size: 2rem;
    font-style: italics;
    margin: 3rem 0 1rem 0;
    text-align: center;
}

.entry-content {
    margin-top: 3rem;
    padding: 0 1rem;
}


.entry-content p, .entry-content li, .entry-summary p {
    font-size: 1.2rem;
    text-align: justify;
} 

.entry-summary p {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: justify;
} 

/*
.entry-content p:first-letter {
    font-weight: bold;
    color: #600;
}
*/

.entry-content li {
    margin: 0.5rem 0;
}
.entry-content p, .entry-content ul, .entry-content ol {
    margin:0 0 1.4rem;
}
.entry-content ul, .entry-content ol {
    padding-left: 4rem;
}
.entry-content ul {
    list-style-type: disc;
}
.entry-content ol {
    list-style-type: decimal;
}
/* entry meta */

.entry-meta {
	clear: both;
	font-size: 14px;
}

.single .entry-meta {
    text-align: center;
}

.entry-meta a {
	color: #bc360a;
}

.entry-meta a:hover {
	color: #bc360a;
}

.entry-meta > span {
    display: inline-block;
	margin-right: 20px;
}

.entry-meta > span:last-child {
	margin-right: 0;
}

.entry-meta .date a:before {
	/*content: "\f303";*/
}

.categories-links a:first-child:before,
.category .main-title:before {
	content: "\f301";
}

.tags-links a:first-child:before, 
.tag .main-title:before {
	content: "\f302";
	position: relative;
	top: -1px;
}

.tag .main-title:before,
.category .main-title:before {
    color: red;
}

.edit-link a:before {
	content: "\f411";
	position: relative;
	top: -1px;
}


/* post pagination */

.post-navigation {
	color: #ca3c08;
	font-size: 20px;
	font-style: italic;
	padding: 1rem 0.2rem 2rem 0.2rem;
}

.post-navigation .nav-links {
	margin: 0 auto;
}

.post-navigation a[rel="next"] {
	float: right;
	text-align: right;
}

.home #content {
    margin-top: 3rem;
}

.home article, .archive .entry-title {
    margin-top: 2rem;
}

.home .entry-title, .archive .entry-title {
    font-size: 1.4rem;
}

.single h2, .entry-content h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0.3rem 0; 
}

.single h3, .entry-content h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0.3rem 0; 
}

.single h4, .entry-content h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.3rem 0; 
}

figure {
    display: block;
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 1.2rem;
}
figure img {
    border: 1px solid #cde;
}
figure p {
    display: none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


blockquote {
  background: #ddd;
  border-left: 10px solid #c96;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  /*quotes: "\201C""\201D""\2018""\2019";*/
}
blockquote:before {
  color: #963;
  /*content: open-quote;*/
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

ul.footnotes li, sup {       
 font-size: 0.9rem;      
 font-family: arial;         
}
ul.footnotes {       
 list-style-type: none;      
 padding-left: 0;        
}
.excerpt {       
 background: #f9f9ff;        
 border-left: 5px solid #c96;        
 margin: 1.5em 10px;         
 padding: 0.5em 10px;        
}




.notepaper {
  position: relative;
  margin: 10px auto;
  padding: 7px 10px 0px 36px;
  width: 680px;
  line-height: 30px;
  color: #6a5f49;
  text-shadow: 0 1px 1px white;
  background-color: #f2f6c1;
  background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  border: 1px solid #c3baaa;
  border-color: rgba(195, 186, 170, 0.9);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
}

.notepaper:before, .notepaper:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
}

.notepaper:before {
  left: 28px;
  width: 2px;
  border: solid #efcfad;
  border-color: rgba(239, 207, 173, 0.9);
  border-width: 0 1px;
}

.notepaper:after {
  z-index: -1;
  left: 0;
  right: 0;
  background: rgba(242, 246, 193, 0.9);
  border: 1px solid rgba(170, 157, 134, 0.7);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.quote {
  font-family: Georgia, serif;
  font-size: 14px;
}

.curly-quotes:before, .curly-quotes:after {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 48px;
  font-size: 50px;
  opacity: .2;
}

.curly-quotes:before {
  content: '\201C';
  margin-right: 4px;
  margin-left: -8px;
}

.curly-quotes:after {
  content: '\201D';
  margin-left: 4px;
  margin-right: -8px;
}

.quote-by {
  display: block;
  padding-right: 10px;
  text-align: right;
  font-size: 13px;
  font-style: italic;
  color: #84775c;
}

.lt-ie8 .notepaper {
  padding: 15px 25px;
}

