<header>
    <div>
        {% if page.title == blank: %}
            <div>
                    <h1 class="site-title">{{ site.title }}</h1>
            </div>
    <div id="himage">
        <div>
            <img src="/images/isl4.png" />
        </div>
        <div><a href="http://www-bcf.usc.edu/~gareth/ISL/">An Introduction to Statistical Learning</a> team.</div>
    </div>
        {% else: %}
            <div>
                    <a href="{{ site.url }}">Home: perwad.in</a>
            </div>
        {% endif %}
    </div>
</header>
<style>
    #himage {
        text-align: center;
    }
    #himage img {
        max-width: 100%;
        border: 1px solid blue;
        margin: 10px;
        margin-bottom: 0px;
    }

</style>
