<header>
    <div>
        {% if page.title == blank: %}
            <div>
                    <h1 class="site-title">{{ site.title }}</h1>
            </div>
    <div id="himage">

<div class="notepaper">
  <div class="quote">
    <div class="curly-quotes">
      The same wind blows on us all.
      The difference in arrival is not
      the blowing of the wind,
      but the set of the sail.
    </div>
    <div class="quote-by">— Jim Rohn</div>
  </div>
</div>



    </div>
        {% else: %}
            <div>
                    <a href="{{ site.url }}">Home: perwad.in</a>
            </div>
        {% endif %}
    </div>
</header>
<style>
    #himage {
        text-align: center;
    }
    #himage img {
        max-width: 100%;
        border: 1px solid blue;
        margin: 10px;
        margin-bottom: 0px;
    }

</style>
